.detail-header, .price {
    padding-left: 1rem;
}

.price {
    white-space: nowrap; 
    margin: 0;
}

p {
    font-size: large;
}
.detail-image {
width: 10em;
margin-left: 0;
}

.description {
    font-weight: 400;
  font-size: medium;
}

.add-cart-button {
    margin-left: 1rem;
}

.detail-box {
    display: flex;
    gap: 2em;
    align-items: center; 
    background-color:rgb(253, 253, 253);
    border: solid 2px;
    border-color: #fce7de; 
    padding: 2em;
}

.add-fav-button {
    margin-top: 5%;
    font-size: medium;
    padding: 0.5em;
    border: 2px solid;
    border-radius: 0.5em;
    border-color:white;
    background-color: #f9f9f9; 
    
   }

.add-fav-button:hover {
    background-color: #fce7de; 
    color: white;
    font-weight: bold;
    border-color: white;
    transform: scale(1.05);
}

/*between mobile and large screen*/
@media screen and (max-width: 800px) and (min-width: 520px){
    .detail-box {
        padding: 1em;  /*shrink padding*/
    }

    .detail-image {
        width: 20%; /*smaller image*/
        margin-left: 0; 
        margin-bottom: 1rem; 
        margin-top: 0;
    }

    .price {
        text-align: left;
        margin: 0;
    }

    .description {
        font-size: small;  
        white-space: normal; /* Allow text to wrap within the block */
        margin-top: 1rem;
    }

    .add-cart-button,
    .add-fav-button {
        margin-top: 1rem;  
    }
}

/* Mobile */
@media screen and (max-width: 520px) {
    .detail-box {
        display: flex;
        flex-direction: column;          
        padding: 1rem;
        align-items: center;             
        justify-content: center;        
    }
    
    .detail-header {
        text-align: center;
    }

    .detail-image {
        width: 50%;                     
        margin-bottom: 1rem;            
        display: block;                  
        margin-left: auto;              
        margin-right: auto;              
    }

    .price {
        text-align: center;             
        width: 100%;                    
        margin-bottom: 1rem;          
    }

    .description {
        font-size: small;              
        text-align: center;              
        width: 100%;                     
        margin-bottom: 1rem;             
    }

    .add-cart-button,
    .add-fav-button {
        margin-top: 1rem;                
        display: block;                  
        width: 100%;                     
        text-align: center;  
        margin-left: 0;            
    }
}
