img {
    width: 50%;
    display: block;
    margin: auto;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    }
/*responsiveness*/
@media screen and (max-width: 1430px) {
    .product {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        justify-items: center;
        align-items: center;
    }
}

@media screen and (max-width: 740px) {
    .product {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        justify-items: center;
        align-items: center;
    }
}
@media screen and (max-width: 520px) {
    .product {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: center;
        align-items: center;
    }
}
/*Price tag and button "add-cart"*/
.price {
    margin-top: 5%;
    color: rgb(83, 83, 83);
}

.button {
 margin-top: 5%;
 font-size: medium;
}

p{
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 550;
    font-size: 140%;
}

hr {
    border: none;
    height: 4px;
    background-color: #fce7de; 
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
