/* Website font and background color*/

*{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
  font-weight: 400;

}

.heart, .cart {
   width: 1.5em;
   padding-left: 3em;
}

header {
    display: flex;
    align-items: center;
    background-color: #fce7de;
    margin: 0%;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0%;
    margin-bottom: 5%;
    align-items: center;
}
/*Space between listed items*/
li {
    margin-left: 4.5rem;
    
} 

a {
    color: rgb(83, 83, 83);
    text-decoration: none;
}

h1 {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

body {
    margin: 0; /*so the corners don't continue around the header*/
    padding: 0;
}

/*responsiveness on header items*/
@media screen and (max-width: 520px) {
    header, ul {
        flex-direction: column;
        align-items: start;
    }
    li {
        margin-left: 0;
    }
    .heart, .cart {
        padding-left: 0;
    }
}

@media screen and (min-width: 520px) {
    .deals-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*@media screen and (min-width: 730px) {
    .deals-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }*/



    li:hover {
        color: #d282a6;
    }

    .box-under {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        white-space: nowrap;
        animation: moveText 35s linear infinite;
    }

    @keyframes moveText {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }