/* Website font and background color*/

*{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  font-weight: 400;

}

.heart {
   width: 1em;
   padding-left: 1em;
}

.cart {
    width: 2em;
    padding-left: 1em;

}

header {
    display: flex;
    align-items: center;
    padding: 5px;
   
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0%;
    margin-bottom: 5%;
    align-items: center;

    
}
/*Space between listed items*/
li {
    margin-left: 3rem;
    
} 

a {
    color: rgb(83, 83, 83);
    text-decoration: none;
}

h1 {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

