/* Website font and background color*/

*{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
  font-weight: 400;
}
/*Header items and icons*/
.heart, .cart {
   width: 1.5em;
   padding-left: 3em;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fce7de;
    margin: 0%;
    padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0%;
    margin-bottom: 5%;
    align-items: center;
}

#search {
margin-top: 10px;
margin-bottom: 0px;
padding: 8px;
width: 100%;  /*ends with the screen*/
box-sizing: border-box;
    
}

/*Box + text design*/
input {
    font-size: medium;
    padding: 0.4em;
    border:  2px solid;
    border-color: rgb(253, 112, 152);
    justify-self: start;
}

::placeholder {
    font-size: large;
}

/*Space between listed items*/
li {
    margin-left: 4.5rem;
    
} 

a {
    color: rgb(83, 83, 83);
    text-decoration: none;
}

h1 {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

body {
    margin: 0; /*so the corners don't continue around the header*/
    padding: 0;
}

/*responsiveness on header items*/
@media screen and (max-width: 520px) {
    h1 {
        padding-left: 0.2em;
    }
    header, ul {
        flex-direction: column;
        align-items: start;
    }
    li {
        flex-direction: column;
        margin-left: 0;
        padding-left: 0.5em;
    }
    .heart, .cart {
        padding-left: 0.5em;
    }
    .heart {
        margin-top: 0.9em;  /*separate icons further down*/
    }
    ul {
        gap: 0.4em;   /*More space between them*/
        margin-top: 0;
    }
    #search {
        width: 100%;  /*ends with the screen*/
box-sizing: border-box;
    }
    .icon-cart {
        position: relative; /* cart icon in correct position */
    }
    .cart-count {
        top: 2em;  /*Counter circle stick to cart icon*/
        right: 3.5em;
    }
}






    li:hover {
        color: #d282a6;
    }

   /* Code in HTML and CSS for cart count- dispalying inspired by: https://www.youtube.com/watch?v=gXWohFYrI0M&t=758s */

/* Make sure the cart icon container is positioned relative */
.icon.cart {
    position: relative;
}

/* Stick to corner of the cart icon */
.cart-count {
    position: absolute;
    transform: translate(4.7em, -2.7em);
    background-color: rgb(255, 0, 76);
    width: 20px;
    height: 20px;

/*Center the text*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    border-radius: 50%; /* Circle */
    font-weight: bold;
}



 
  
  

  
 
  