.skincare-nav ul {
    display: flex;
    justify-content: flex-start;
}

.skincare-nav ul li {
margin-left: 0%;
margin-right: 3rem;

}

.skincare-nav {
    margin-left: 20px;
}

h2 {
    margin-left: 10px;
}